
.form__field {
	margin-bottom: 10px;
}

.form__error {
	color: red;
	text-align: left;
	font-size: 12px;
	display: block;
	margin-top: 3px;
	display: none;
}

input:invalid:not(:placeholder-shown) + .form__error {
	display: block;
}